{lib_dirs, ["deps"]}.

{erl_opts, [warnings_as_errors, debug_info]}.

{deps, [{common_lib, "3.3.5",
         {git, "git://github.com/wtcross/common_lib.git", {branch, "transceiver"}}}]}.

{erl_first_files, ["src/gen_esme_session.erl",
                   "src/gen_mc_session.erl",
                   "src/gen_esme.erl",
                   "src/gen_mc.erl"]}.

{xref_checks, [undefined_function_calls]}.
